{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <section class="container mx-auto p-4">
        <h1 class="text-3xl font-semibold">{% trans "Ideas" %}</h1>
        <ul class="list-disc list-inside">
            {% for idea_collection in idea_collections %}
                <li>
                    <a class="underline text-blue-400" href="{% url "idea-collection-detail" idea_collection.id %}">
                        {{ idea_collection.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}
