{% extends "core/app.html" %}

{% load i18n %}

{% block title %}{% trans "Edit Idea Collection" %}{% endblock %}

{% block app_content %}
    <h1 class="text-4xl mb-4">{% trans "Edit Idea Collection" %}</h1>
    <p class="mb-8 text-lg leading-relaxed">
        {% blocktrans with name=idea_collection.name %}
            Edit the &lsquo;{{ name }}&rsquo; collection.
        {% endblocktrans %}
    </p>

    <form method="POST" action="{% url 'idea-collection-update' idea_collection.id %}">
        {% csrf_token %}
        {{ form }}

        <div class="flex justify-between items-center">
            <a class="underline text-blue-500" href="{% url 'idea-collection-detail' idea_collection.id %}">
                {% trans "Cancel" %}
            </a>
            <button
                class="mt-4 bg-orange-500 px-3.5 py-1.5 font-semibold leading-7 text-white hover:bg-orange-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400"
                type="submit"
            >
                {% trans 'Update' %}
            </button>
        </div>
    </form>
{% endblock app_content %}
