{% extends "core/app.html" %}

{% load i18n %}

{% block title %}{% trans "Ideas" %}{% endblock title %}

{% block app_content %}
    <h1 class="mb-4 text-3xl font-semibold">{% trans "Ideas" %}</h1>

    <p class="mb-4 text-lg">
        {% blocktrans trimmed %}
        Create collections of ideas for each person you want to give gifts to.
        {% endblocktrans %}
    </p>

    <a
        class="mb-8 inline-block bg-orange-500 px-2 py-1 font-semibold leading-relaxed text-white shadow-sm hover:bg-orange-400 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-blue-400"
        href="{% url 'idea-collection-create' %}"
    >
        New Collection
    </a>

    <ul>
        {% for idea_collection in idea_collections %}
            <li class="mb-3 px-4 py-2 bg-slate-100 shadow flex items-center gap-x-2">
                <a class="flex-grow underline text-blue-500" href="{% url "idea-collection-detail" idea_collection.id %}">
                    {{ idea_collection.name }}
                </a>
                <p>
                    {% blocktrans trimmed count ideas=idea_collection.idea_count %}
                    {{ ideas }} idea
                    {% plural %}
                    {{ ideas }} ideas
                    {% endblocktrans %}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock app_content %}
